h1{
    color: #fff;
}

.text-para{
    color: #fff;
    font-size:18px;
    text-align: justify;
}

.text-one{
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
    padding-top: 5%;
}

.text-second{
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    margin-top: 15px;

}

.join_button{
    width: max-content;
    color: #fff;
    font-size: 20px;
    border: 3px solid #fff;
    margin-left: 12px;
    border-radius: 5px;
    cursor: pointer;
    list-style:none
}
