.line-center{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    gap: 2rem;
    margin: auto;
}

.line{
    border: 1px solid white;
    flex-basis: 100%;
    width: 100%;
}

.img-circle{
    width: 25%;
}

.label{
    color: #aaa;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom:0.2rem
}

.input-box{
    background-color: #5a289b99;
    border: none;
    margin-top: 0;
    color: #fff;
}

.btn-connect{
    background-color:#5a289b99 !important; /*#461F7A*/
    border: none;
    width: 100%;
    color: #fff !important;
    
}
.btn-connect:hover{
    background-color:#5a289b99 ; /*#461F7A*/
    border: none;
    width: 100%;
    color: #fff;
}

h1{
    text-align: center;
    font-size: 2.6rem;
    color: #ccc;
    font-weight: lighter;
}
.form-section{
    margin: 4rem 0;
    /* min-height: 37.5rem; */
}
.touch_form{
    max-width: 50rem;
    padding: 2rem;
    margin: 0 auto;
}
.input-box:focus{
    background-color: #5a289b99;
    border: none;
    outline: 0;
    box-shadow:none;
    color: #fff;
}

