
.newContainer{
  background-color: #f2f3f7;
  height: 5000px;
}

.App {
  height: 100%;
  background-color: #260f43;
  /* padding: 30px; */
  /* background-image: url("./assets/Hero-Graphic-01.png"); */
}
.back{
  background: url("./assets/Hero-Graphic-01.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  /* background: linear-gradient(to bottom, var(#411c71), var(#260f43)); */
  /* height: 100vh; */
}


.iframe {
  width: 100%;
  height: 450px;
  max-width: 900px;
}
@media screen and (max-width:555px) {
  .back{
    background-position: initial;
  }
}


.form-control{
  height: 40px;
  box-shadow: none;
  color: #969fa4;
  /* background-color: rgb(224, 253, 242) !important; */
  background-color: #E4F1FF !important;
  
}

/* input{
  border-radius: 0px;
} */

.form-control:focus{
  border-color: #5cb85c;
}
.form-control, .btn{        
  border-radius: 5px !important;
}

h4{
  color: black;
  /* margin-left: 100px; */
  text-align: center;
}

.a{
  color: blue;
  font-weight: bold;
}

.name-lable{
  color: black;
  font-weight:bold ;
  padding-bottom: 10px;
  padding-top: 10px;
}

.signup-form{
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2{
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}
.signup-form h2:before, .signup-form h2:after{
  content: "";
  height: 2px;
  width: 30%;
  /* background: #d4d4d4; */
  background: #fff;
  position: absolute;
  top: 50%;
  z-index: 2;
}	

.newpage{
  height: 2000px !important;
  width:2000px !important;
  background-color: #260f43 !important;
  color:red;
}

.signup-form h2:before{
  left: 0;
}
.signup-form h2:after{
  right: 0;
}
.signup-form .hint-text{
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
.signup-form .form1{
  color: #999;
  border-radius: 10px;
  margin-bottom: 15px;
  /* background: #f2f3f7; */
  /* width: 500px; */
  background: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group{
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
  margin-top: 3px;
}
.signup-form .btn{        
  font-size: 16px;
  font-weight: bold;		
  /* min-width: 140px; */
  width: 440px;
  outline: none !important;
  background-color: #5CD2E6;
}


.signup-form .btn:active {
  background-color: #5CD2E6 !important;
}


#instruction.form-control{
  height: 70px;
  color: blue !important;
}

.col{
  color: blue !important;
}


.signup-form .btn:hover{
  background-color: #11a9c4;
}


.mybtn{        
  font-size: 16px;
  font-weight: bold;		
  /* min-width: 140px; */
  background-color: #E4F1FF !important;
  width: 40px;
  margin-top: 10px;
  outline: none !important;
}


.signup-form .row div:first-child{
  padding-right: 10px;
}
.signup-form .row div:last-child{
  padding-left: 10px;
}    	
/* .signup-form a{
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover{
  text-decoration: none;
} */
.signup-form .form1 a{
  color: #5CD2E6;
  text-decoration: none;
 font-weight: bold;

}	
.signup-form form a:hover{
  text-decoration: underline;
}  




