.header{
    display: flex;
    align-items: center;
}

.logo-icon{
    width: 10%;
}

/* .icon-name{
    display: contents;
} */

/* .logo-name{
    width:100%;
    padding-left: 20px;
} */

.title{
    padding-left: 20px;
    font-size: 30px;
    color: #fff;
}


.nav-item-label{
    font-size: 20px;
    /* font-weight: 600; */
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    width: 185px;
}

.nav{
    /* background-color:  #5a289b99; */
    padding: 50px;
}

.nav-center{
    align-items: baseline;
}

.join{
    padding: 0px 5px 0px 5px;
    background-color: #265CF6;
    border-radius: 10px;
   
    width: 150px;
    height: 49.82px;
    left: 161px;
    top: 425px;

    align-items: baseline;
}

.me-auto{
    padding-top: 15px;
}

/* @media screen and (min-width:320px) and (max-width:525px) {
    .logo-icon{
        width: 10%;
    }
    .logo-name{
        width:50%;
    }
} */

@media screen and (max-width:768px) {
    .logo-icon{
        width: 10%;
    }
    .top{
        display: flex;
        align-items: center;
        text-align: right;
    }
}

.nav-item-text{
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    margin: 0 2rem;
    text-decoration: none;
    margin: 5px 1rem;
    font-size: 15px;
}

/* .nav-item-text{
    margin: 5px 1rem;
    font-size: 15px;
} */

@media screen and (min-width:320px) {
.logo-name{
    padding-left: 15px;
}
}

.top{
    display: flex;
    align-items: center;
}